<config platform="project" template="project (default)">Created: Tue Sep 22 23:01:02 2015
By: aaronpiotrowski
Using Template: project (default)

&lt;description to go here><option fromDef="true" name="icon" value=""/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="true" name="name" value="learn"/>
    <option fromDef="true" name="caption" value="learn"/>
    <option fromDef="true" name="provider" value="aaronpiotrowski"/>
    <option fromDef="true" name="copyright" value="(C) aaronpiotrowski"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
</config>
