<config platform="project" template="project (default)">Created: Tue Sep 22 23:01:02 2015
By: aaronpiotrowski
Using Template: project (default)

&lt;description to go here><option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="learn" name="name"/>
    <option fromDef="true" value="learn" name="caption"/>
    <option fromDef="true" value="aaronpiotrowski" name="provider"/>
    <option fromDef="true" value="(C) aaronpiotrowski" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
